<div class="mi-registration">
    <h1>Rejestracja</h1>
    <hr />
    <p>Podaj email i hasło aby utworzyć nowe konto.</p>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
            <span *ngIf="registrationForm.controls['email'].touched && registrationForm.controls['email'].hasError('required')" class="text-danger">Email jest wymagany.</span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Hasło" formControlName="password">
            <span *ngIf="registrationForm.controls['password'].touched && registrationForm.controls['password'].hasError('required')" class="text-danger">Hasło jest wymagane.</span>
        </div>
        <button type="submit" class="btn btn-success pull-right">Wyślij</button>
    </form>

</div>