<div class="mi-login">
    <h1>Logowanie</h1>
    <hr />
    <p>Podaj email i hasło aby się zalogować.</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
            <span *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].hasError('required')" class="text-danger">Email jest wymagany.</span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Hasło" formControlName="password">
            <span *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].hasError('required')" class="text-danger">Hasło jest wymagane.</span>
        </div>
        <button type="submit" class="btn btn-success pull-right">Zaloguj się</button>
    </form>
</div>