<div class="mi-board">
    <h1>Projekty</h1>
    <hr />
    <button class="btn btn-success" [routerLink]="['/board/new-project']">Utwórz nowy projekt</button>
    <div class="mi-board-projects">
        <div *ngFor="let boardsRow of boards | rows:4; let i=index" class="row">
            <div *ngFor="let board of boardsRow" class="col-xs-3 mi-board-projects-project">
                <a href="#">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>{{board.name}}</h3>
                            <p>{{board.description}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>